.logo {
	width: 200px;
	margin-right: 15px;
}

.logo-color {
	background-color: #6f7cae !important;
	border-color: #6f7cae !important;
}

.navbar {
	padding: 8px 50px 8px 50px !important;
}

.jumbotron {
	margin: 10px 50px 0px 50px !important;
}

.card {
	margin: 20px 50px 0px 50px !important;
}

.margin-sizing {
	margin: 20px 20% 0px 20%;
}

.email-width {
	width: 200px;
}

.submit-form-margin {
	margin-bottom: 20px;
}